* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    height: 100%;
    position: relative;
    background: rgb(3, 0, 5);
    color: white;
    font-family: 'Kode Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    /* overflow: hidden; */
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.animated-background {
    position: absolute;
    height: 50vh;
    width: 50vw;
    margin: 0;
    padding: 0;
    background-image: url('images/img.svg');
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(50px);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    /* border-bottom: solid 1px white; */
}

.logo a img {
    height: 100px;
    width: 100px;
    color: white;
    cursor: pointer;
}

.nav-bar ul {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-bar ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 10px;
    font-size: 25px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
}

.nav-bar ul li a:hover {
    background: white;
    color: black;
    padding: 0 10px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 200px 200px;
    z-index: 1;
}

.border {
    position: absolute;
    height: 3px;
    width: 100vw;
    background-color: white;
    transition: 3s;
    left: -100vw;
}

.border-middle {
    position: absolute;
    top: 100vh;
    left: 53vw;
    height: 750px;
    width: 3px;
    background-color: white;
    transition: 3s;
}

.features-list {
    margin-top: 50px;
    font-size: 30px;
    left: -500px;
}

.features-list ul {
    list-style: none;
    cursor: pointer;
}

.features-list ul li {
    margin: 20px;
}

.features-list ul li::after {
    position: relative;
    display: block;
    content: '';
    background-color: white;
    width: 0px;
    height: 3px;
    top: -5px;
    transition: 0.5s;
}

.features-list ul li:hover::after {
    width: 600px;
}

.feature-bot {
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
}

.bot-name {
    font-family: 'VT323', monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 400px;
}

.slogan {
    margin-left: 15px;
    margin-top: -70px;
}

.style {
    font-size: 60px;
}

.fade-in {
    opacity: 0;
    transition: 3s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
