body {
    /* background-color: #160015; */
    background: linear-gradient(68.15deg, #080108 16.62%, #1c031c 85.61%);
    margin: 0px;
    padding: 0px;;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 30px;
}

header > a > img {
    height: 100px;
    width: 100px;
}

header > ul {
    font-size: 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: end;
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

header > ul > li {
    list-style-type: none;
}

header > ul > li > a{
    text-decoration: none;
    color: white;
}

main > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.4ch solid rgb(68, 66, 66);
}

main > section#content {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: normal;
    color: white;
    justify-content: center;
    align-items: center;
}

main > section#content > p {
    margin: 5px;
    padding: 5px;
    font-size: 30px;
}

section.text {
    font-family: 'Oswald', sans-serif;
    color: white;
    margin-left: 150px;
    margin-top: -200px;
}

#p1 {
    font-size: 96px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

#p2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

#p2 > a {
    text-decoration: none;
    color: white;
}

#p2 > a:hover {
    color: black;
    background-color: white;
}

/* .botimage > img {

} */

footer {
    border-top: 0.4ch solid rgb(68, 66, 66);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 60px 0px 0px 0px;
}

footer > div > a > img {
    height: 30px;
    width: 30px;
    align-items: center;
}

footer > p {
    color: white;
    margin: 0px;
}